body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    canvas { 
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated;                 /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }

    #canvas {
        transform-origin: 0 0;
    }

    #char-overlay {
        position: absolute;
        z-index: 500;
        width: 20px;
        height: 20px;
        top: 200px;
        left: 200px;
        border: 1px dashed rgba(255,255,255,0.2);
        pointer-events: none;
    }

    #container {
        position: relative;
        overflow: scroll;
    }

    h1 {
        padding: 5px 0 5px 0;
        margin: 0;
        background-color: #111;
        font-size: 13px;
        color: #ddd;
        text-align: center;
        cursor: move;

        span em {
            font-style: normal;
        }
    }

    #zoom {
        position: fixed;
        top: 250px;
        left: 280px;
        z-index: 2500;
        padding: 0 5px 5px 5px;
        box-shadow: 0 0 5px #000;
        background-color: #111;
        border-radius: 2px;

        .zoom-option {
            background-color: #ddd;
            color: #444;
            font-size: 12px;
            padding: 5px;
            text-align: center;
            display: block;
            cursor: pointer;
            border-radius: 2px;
            margin-bottom: 5px;

            &:hover {
                background-color: #ccc; 
            }
        }
    }

    #palette-container {
        position: fixed;
        top: 250px;
        left: 10px;
        z-index: 2000;
        box-shadow: 0 0 5px #000;
        overflow: auto;
        background-color: #111;
        border-radius: 2px;
        padding: 0 5px 5px 5px;

            #palette-selector {
                margin: 0 0 5px 0;
                text-align: center;
            }

            .palette-table {
                display: none;

                &.active {
                    display: block;
                }
            }

            .color-container {
                display: block;
                float: left;

                .color {
                    width: 20px;
                    height: 20px;
                    display: block;
                    float: left;
                    border: 1px solid rgba(0,0,0,1);
                    border-radius: 2px;    
                    cursor: pointer;     
                }

                .color.active {
                    border: 1px dashed rgba(255,140,97,1);
                }

                .color:nth-child(9n) {
                    clear:both;
                }
            }

            .color-indicators {
                position: relative;
                float: left;
                margin-top: 5px;
                margin-left: 10px;
                display: block;
                width: 40px;

                .left-click {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    display: block; 
                    float: left;
                    background: rgba(0,0,0,1);
                    border-top: 1px solid rgba(255,255,255,0.2);
                    border-left: 1px solid rgba(255,255,255,0.2);
                    border-radius: 2px;
                    z-index: 2010;

                }

                .right-click {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 20px;
                    height: 20px;
                    display: block; 
                    float: left;
                    background: rgba(255,255,255,1);
                    border-top: 1px solid rgba(255,255,255,0.2);
                    border-left: 1px solid rgba(255,255,255,0.2);                
                    border-radius: 2px;
                    z-index: 2005;
                }            
            }
    
    }

    #preview-canvas-container {
        position: fixed;
        top: 10px;
        left: 10px;
        box-shadow: 0 0 5px #000;
        z-index: 1000;
        border: 1px solid rgba(0,0,0,1);

        canvas {
            float: left;
            padding: 0;
            margin: 0;
        }
    }

    #preview-canvas.active {
        border: 1px solid rgba(255,255,255,0.4);
    }

    #options-container {
        position: fixed;
        top: 10px;
        right: 30px;            
        padding: 0 5px 5px 5px;
        box-shadow: 0 0 5px #000;
        background-color: #111;
        border-radius: 2px;
        font-size: 11px;
        color: #777;  
        width: 200px;  
        z-index: 2000;

        .infogroup {
            padding-top: 5px;
            clear: both;
        }

        label {
            padding-bottom: 5px;
            font-size: 12px;
            font-weight: bold;

            &:first-child {
                padding-top: 0;
            }
        }

        select {
            overflow: auto;
            display: block;
        }

        #clear {
            clear: both;
            border-radius: 5px;
            cursor: pointer;
            background-color: #aa0000;
            color: #fff;
            display: block;
            padding: 5px;
            margin-top: 5px;
            text-align: center;
        }

        ul {
            padding: 5px 0 0 20px;
            margin: 0;

            li {
                padding-bottom: 5px;
            }
        }

        .canvas-size {
            input {
                float:left;
            }

            input {
                border: 0;
                background-color: #333;
                border-bottom: 1px solid #555;
                border-right: 1px solid #555;
                border-radius: 2px;
                width: 50px;
                margin-right: 5px;
                color: #888;
            }

            input.button {
                border: 0;
                background-color: #aa0000;
                color: #fff;
                cursor: pointer;
            }
        }

        .save-image-container {
            text-align: center;
            cursor: pointer;
            padding-top: 5px;

            img {
                opacity: 0.7;
            }
        }

        .ditherbrush {
            margin-top: 2px;
            opacity: 0.3;
            padding: 3px;
            border: 1px solid #888;
            cursor: pointer;
            border-radius: 2px;
            background-color: #000;

            &.active {
                opacity: 0.8;
            }

            &.flipped {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }
        }
    }

    #current-colors {
        display: block;
        overflow: auto;
        padding-top: 5px;

        .color {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            border: 1px solid rgba(0,0,0,1);
            border-radius: 2px;    
        }        
    }
}