body {
    padding: 0;
    margin: 0;

    canvas { 
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated;                 /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    }

    #char-overlay {
        position: absolute;
        z-index: 500;
        width: 20px;
        height: 20px;
        top: 200px;
        left: 200px;
        border: 1px dashed rgba(255,255,255,0.2);
        pointer-events: none;
    }

    #container {
        overflow: scroll;
    }

    #palette {
        position: absolute;
        top: 220px;
        left: 10px;
        z-index: 2000;
        padding: 10px;
        box-shadow: 0 0 5px #000;
        background-color: #111;
        border-radius: 2px;
        cursor: move;    

        .color {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            border: 1px solid rgba(0,0,0,1);
            border-radius: 2px;    
            cursor: pointer;     
        }

        .color.active {
            border: 1px dashed rgba(255,140,97,1);
        }

        .color:nth-child(9) {
            clear:both;
        }
    }

    #previewCanvas {
        position: absolute;
        top: 10px;
        left: 10px;
        box-shadow: 0 0 5px #000;
        cursor: move;
        z-index: 1000;
        border: 1px solid rgba(0,0,0,1);
    }

    #previewCanvas.active {
        border: 1px solid rgba(255,255,255,0.4);
    }

    #options-container {
        position: absolute;
        top: 300px;
        left: 10px;            
        padding: 10px;
        box-shadow: 0 0 5px #000;
        background-color: #111;
        border-radius: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #777;  
        cursor: move;   
        width: 200px;  
        
        label {
            display: block;
            padding-bottom: 5px;
            padding-top: 10px;
            font-size: 12px;

            &:first-child {
                padding-top: 0;
            }
        }

        select {
            overflow: auto;
            display: block;
        }

        #clear {
            clear: both;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            background-color: #aa0000;
            color: #fff;
            display: inline-block;
            padding: 3px 5px 3px 5px;
        }

        ul {
            padding: 0 0 0 20px;
            margin: 0;

            li {
                padding-bottom: 5px;
            }
        }

        #zoom-level, .coordinates {
            border: 0;
            background-color: #333;
            color: #888;
            width: 40px;
            text-align: center;
        }
    }

    #current-colors {
        display: block;
        overflow: auto;

        .color {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            border: 1px solid rgba(0,0,0,1);
            border-radius: 2px;    
        }        
    }
}